/* *{
margin: 0px;
padding: 0px;
} */
/* common shared styles */
body {
    font-family: "Open Sans", sans-serif;
}

main {
    max-width: 1140px;
    margin: auto;
}

.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 0;
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary:hover {
    background-color: coral;
}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}


/* nav*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

nav li a {
    text-decoration: none;
}

.header-section {
    background: rgb(255, 248, 243);
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

/* banner styles */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10px 0px 150px;
}

.banner-grating {
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-title {
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;

}

.banner-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    max-width: 550px;
}


/* about section styles */

.about-section {
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 130px;
    margin: 130px 0px;
}

.about-container {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    padding: 20px;

}

.about-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 30px 0px;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.info-title {
    text-align: center;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #474747;
}

/* what i do styles */

.i-do-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.language-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0px 150px;
}

.language-container>div {
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
}

.language-title {
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
}

.language-description {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 200px;
}

/* My Resume style */

.resume-container {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.resume-title {
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.resume-info-title {
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
}

.resume-container h4 {
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
}

.resume-container p {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 500px;
    margin-bottom: 30px;
}

.btn-resume {
    text-align: center;
    margin-top: 60px;
}

/* footer style */

footer {
    background: rgb(255, 248, 243);
}

.footer-section {
    display: flex;
    gap: 100px;
    width: 1140px;
    margin: auto;
    margin-top: 100px;
    padding: 130px 0px;
}

.footer-column{
    width: 50%;
}

.footer-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    /* text-align: center; */
}

.footer-description {
    color: rgb(71, 71, 71);
    font-weight: 400;
    line-height: 28px;
}

.icon-container img{
    margin-right: 20px;

}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    width: 100%;
    border: 0;
}